<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="/uac/index/">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="dcjq-parent active">
                    <i class="fa fa-user"></i>
                    <span>Administration</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="/uac/ruleset/">Define Extractor Rules</a>
                    </li>
                    <li>
                        <a href="/uac/extractset/">Client-Extractor Settings</a>
                    </li>
                    <li>
                        <a href="/uac/process/start/">ETL Process</a>
                    </li>
                    <li>
                        <a href="/uac/scheduler/">Scheduler</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent active">
                    <i class="fa fa-list-alt"></i>
                    <span>Masters Management</span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="/uac/masters/clients">Manage Clients</a>
                    </li>
                    <li>
                        <a href="/uac/masters/erp/">ERP</a>
                    </li>
                    <li>
                        <a href="/uac/masters/tools/">Destination Tools</a>
                    </li>
                    <li>
                        <a href="/uac/masters/destfiles/">Destination Types</a>
                    </li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent active">
                    <i class="fa fa-cogs"></i>
                    <span>Configuration </span>
                </a>
                <ul class="sub">
                    <li>
                        <a href="/uac/masters/transrules/">Rules Management</a>
                    </li>
                    <li>
                        <a href="/uac/masters/usermanage">User Management </a>
                    </li>
                    <li>
                        <a href="grids.html">Settings </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/uac/login/">
                    <i class="fa fa-lock"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>