
{% extends "etl/uac_base.html" %}

{% block cssheader %}

<style>
.error-container{
	position: relative;
}
.has-error{
	position: absolute;
	right: 0;
	color: red;
}
</style>

{% endblock %}

{% block content %}



<div class="col-lg-12">
   <section class="panel">
      <header class="panel-heading">
         Define Extractor Ruleset
      </header>
      <div class="panel-body">
	  
	  
	  <section class="panel">
		  <header class="panel-heading tab-bg-dark-navy-blue outline">
			  <ul class="nav nav-tabs">
				  <li class="active">
					  <a data-toggle="tab" href="#TabRule" id="TabMasterLink" aria-expanded="false">Rule Set</a>
				  </li>
				  <li class="">
					  <a data-toggle="tab" href="#TabDetails" id="TabDetailsLink" aria-expanded="false">Details</a>
				  </li>				 
			  </ul>
		  </header>
		  <div class="panel-body">
			  <div class="tab-content">
				  <div id="TabRule" class="tab-pane active">
				  	<div class = "row" > <div class = "col-sm-6" > <div class = "form-group" > <button type = "button"
class = "btn btn-info"
id = "btnAddNew" > <span > Add New </span></button > </div> </div> </div>
					  <div class="row">
	  <div class="col-sm-6">
            <div class="form-group error-container">
               <label for="rulename">Rule Set Name:</label>
               <input type="text" class="form-control rule-set" name="rulename" id="rulename" >
               <span class="has-error"></span>
            </div>
	 </div>
	   </div>
	   <div class="row">
         <div class="col-sm-6">
            <div class="form-group">
               <label for="clientaddr">Destination Tool:</label>
               <select class="form-control" id="desttool">
                  {% for row in tool %}
                  <option value="{{ row.tool_id }}" >{{ row.tool_name }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="form-group">
               <label for="clientname">Destination Type  :</label>
               <select class="form-control" id="destfile">
                  {% for row in destfile %}
                  <option value="{{ row.dest_file_id }}">{{ row.dest_file_name }}</option>
                  {% endfor %}
               </select>
            </div>
         </div>
		 </div></br>
         <form action="#" name="frmSchema" id="frmSchema" >
            <div class="col-sm-12">
               <div class="row">
                  <table class="table table-condensed table-striped" id="myTable">
                     <thead>
                        <tr>
                           <th>Field Name</th>
                           <th class="col-sm-2">Type</th>
                           <th class="col-sm-1">Length</th>
                           <th>Required</th>
                           <th>Transformation Rules</th>
                           <th>&nbsp;</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>  <input type="text" class="form-control cust-width" name="fldname[]" ></td>
                           <td>
                              <select class="form-control" name="fldtype[]">
                                 <option value="String">String</option>
                                 <option value="Numeric">Numeric</option>
                                 <option value="Currency">Currency</option>
                                 <option value="Date">Date [MM/DD/YYYY]</option>
                              </select>
                           </td>
                           <td>  <input type="text" class="form-control fldlength" name="fldlen[]" value="0" ></td>
                           <td>
                              <select name="fldreq[]" class="form-control">
                                 <option value="1">Yes</option>
                                 <option value="0">No</option>
                              </select>
                           </td>
                           <td>  
                              <select class="form-control js-example-basic-multiple" name="rules[]" multiple="multiple">
                              </select>
                           </td>
                           <td>   <button class="btn btn-success btnAddRow btn-xs"  type="button"> <i class="fa fa-plus fa-xs"></i> </button></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="col-sm-12">
               <div class="row"> 
                  <label for="uniqflds" > Unique Fields </label> 
                  <select multiple="true" name="uniqfld" id="uniqflds" class="form-control"></select>
               </div>
            </div>
            <div class="col-sm-12">
               <div class="row">
                  <div class="form-group" style="text-align:center">
                     <button type="button" class="btn btn-primary save-btn" id="btnSaveSchema"><i class="fa fa-check-square-o"></i><span> Save </span></button>
					<button type="button" class="btn btn-warning save-btn" id="btnEditSchema"><i class="glyphicon glyphicon-edit"></i><span> Edit </span></button>
                  
				  </div>
               </div>
            </div>
         </form>
				  </div>
				  <div id="TabDetails" class="tab-pane">
					<table class="table table-striped table-hover table-bordered" id="clientMaster" >
						<thead>
						<tr><th>Rule Set</th><th>Destination Tool</th><th>Destination File</th><th><center>Actions</center></th></tr>
						</thead><tbody>  
						{% for cnt in rule %}
						<tr>
						<td>{{ cnt.ruleset_name }}</td>
						<td>{{ cnt.tool_name }}</td>
						<td>{{ cnt.dest_file_name }}</td>
						<td class="hide">{{ cnt.tool_id }}</td>
						<td class="hide">{{ cnt.dest_file_id }}</td>
						<td class="hide">{{ cnt.ruleset_id }}</td>
						<td><center><a class="btn btn-xs btn-success btnClone" title="Clone" rel="{{ cnt.ruleset_id }}"><span class="glyphicon glyphicon-plus-sign"></span></a>&nbsp;<a class="btn btn-xs btn-primary btnEdit" title="Edit" rel="{{ cnt.ruleset_id }}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;<a class="btn btn-xs btn-danger btnDel" href="/uac/destDelete/{{ cnt.ruleset_id }}"  title="Delete" ><span class="glyphicon glyphicon-trash"></span> </a></center></td>
						</tr>
						{% endfor %}                                    
						</tbody>
					</table>
					<div class="text-center">				 
					{% if rule.has_other_pages %}
					  <ul class="pagination">
						{% if rule.has_previous %}
						  <li><a href="?page={{ rule.previous_page_number }}">&laquo;</a></li>
						{% else %}
						  <li class="disabled"><span>&laquo;</span></li>
						{% endif %}
						{% for i in rule.paginator.page_range %}
						  {% if rule.number == i %}
							<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
						  {% else %}
							<li><a href="?page={{ i }}">{{ i }}</a></li>
						  {% endif %}
						{% endfor %}
						{% if rule.has_next %}
						  <li><a href="?page={{ rule.next_page_number }}">&raquo;</a></li>
						{% else %}
						  <li class="disabled"><span>&raquo;</span></li>
						{% endif %}
					  </ul>
					  {% endif %}
					   </div>
				  </div>
				  
			  </div>
		  </div>
	  </section>
	  
	  
	  
        
      </div>
   </section>
</div>

<input type="hidden" name="HdnID" id="HdnID"/>

<div class="modal fade " data-backdrop="static" data-keyboard="false"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	  <div class="modal-content">
		  <div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h5 class="modal-title">UAC - Rule Set</h5>
		  </div>
		  <div class="modal-body">

		  </div>
		  <div class="modal-footer footer-button">
			 
		  </div>
	  </div>
  </div>
</div>


{% endblock %}


{% block jsfooter %}
<link href="../../static/etl/css/select2.min.css" rel="stylesheet" />
<script src="../../static/etl/js/select2.min.js"></script>	

<script type="text/javascript">

        


$(document).ready(function () {

    $('.has-error').html(``);
    
	$("#btnEditSchema").hide();				
   
    var url = $(location).attr('href'),
    parts = url.split("/");	
	if(parts[parts.length-1] != '')
		$("#TabDetailsLink").trigger('click');
		
   
	var rules = new Array();
    var dataSelection = new Array();
    $.ajax({
        url: "/uac/getrules/",
        type: 'get',
        data: 'id=1',
        dataType: 'json',
        success: function (response) {

            for (i = 0; i < response.length; i++) {
                rules[i] = {

                    "id": response[i][0],
                    "text": response[i][1]
                }
            }
			

            $(".js-example-basic-multiple").select2({
                data: rules,
				placeholder: 'Select Transformation Rules'
            })
			

        }
    });
//initalize uniq field
$('#uniqflds').select2();


//Edit 
$("#btnEditSchema").click(function (e) {
	if( $("#rulename").val() == "")
   {
		$('#myModal .modal-body').html("Please enter Rule Set Name!");
		$('#myModal .footer-button').html('<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>');
		$('#myModal').modal();
		return;
   }
   
   var message="";
   
   var arr = [];
		$("#myTable tbody tr").each(function(row, tr){
			var value = $.trim($(tr).find('td:eq(0) input').val().toLowerCase());
			value = value.toLowerCase();
			if (arr.indexOf(value) == -1)
				arr.push(value);
			else
				message="Sorry! Duplicate found in Field Name!";
		});
		
		if(message != '')
		{
			$('#myModal .modal-body').html(message);
			$('#myModal .footer-button').html('<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>');
			$('#myModal').modal();
			return;
		}

        var Schema = new Array();
        $('#myTable tbody tr').each(function (row, tr) {
				 if($(this).find("td:eq(0)").find('input').val() != '')
				 {

					Schema[row] = {

					"FieldName": $.trim($(tr).find('td:eq(0) input').val()),
					"Type": $.trim($(tr).find('td:eq(1) select').val()),
					"Length": $.trim($(tr).find('td:eq(2) input').val()),
					"Required": $.trim($(tr).find('td:eq(3) select').val()),
					"TransRules": $.trim($(tr).find('td:eq(4) select').val())
				}
			}

        });
		var rule_set_name = $("#rulename").val();
        var dest_file = $("#destfile option:selected").val();
        var dest_tool = $("#desttool option:selected").val();
		
		
		var uniq_flds =$("#uniqflds").val(); 
		var uniq_sel = '';
		
		if(uniq_flds!=null){
		 for (i = 0; i < uniq_flds.length; i++) {
				if(i==0)
					uniq_sel = uniq_sel+uniq_flds[i];
				else
					uniq_sel = uniq_sel+","+uniq_flds[i];
            }
		}
		
		var id = $("#HdnID").val();
		
        var obj = {
			RuleSetName : rule_set_name,
		    DestTool: dest_tool,
            DestFile: dest_file,
            UniqueFields: uniq_sel,
            DestSchema: Schema,
			ID:id
        };
		
		$("#btnEditSchema span").html('Please wait');		
		$("#btnEditSchema").attr("disabled", "disabled");
		
        var dataschema = JSON.stringify(obj);
		
		 $.ajax({
            type: "GET",
            url: "/uac/schemaEdit/",
            data: {
                formdata: dataschema
            },
            dataType: 'json',
            success: function (response) {
					if (response.status == "200") {
						
						$('#myModal .modal-body').html(response.message);
						$('#myModal .footer-button').html('<button class="btn btn-success" data-dismiss="modal" type="button" onclick=reload_window()>Close</button>');
						$('#myModal').modal();
						
						
					} else if (response.status == "400") {
						$('#myModal .modal-body').html(response.message);
						$('#myModal .footer-button').html('<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>');
						$('#myModal').modal();
					
					}
												
					$("#btnSaveSchema").removeAttr('disabled');
					$("#btnSaveSchema span").html('Save');
					}

            
        });
		
		
});

//### save to db   
$("#btnSaveSchema").click(function (e) {
   
   if( $("#rulename").val() == "")
   {
		$('#myModal .modal-body').html("Please enter Rule Set Name!");
		$('#myModal .footer-button').html('<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>');
		$('#myModal').modal();
		return;
   }
   
   var message="";
   
   var arr = [];
		$("#myTable tbody tr").each(function(row, tr){
			var value = $.trim($(tr).find('td:eq(0) input').val().toLowerCase());
			value = value.toLowerCase();
			if (arr.indexOf(value) == -1)
				arr.push(value);
			else
				message="Sorry! Duplicate found in Field Name!";
		});
		
		if(message != '')
		{
			$('#myModal .modal-body').html(message);
			$('#myModal .footer-button').html('<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>');
			$('#myModal').modal();
			return;
		}

        var Schema = new Array();
        $('#myTable tbody tr').each(function (row, tr) {
				 if($(this).find("td:eq(0)").find('input').val() != '')
				 {

					Schema[row] = {

					"FieldName": $.trim($(tr).find('td:eq(0) input').val()),
					"Type": $.trim($(tr).find('td:eq(1) select').val()),
					"Length": $.trim($(tr).find('td:eq(2) input').val()),
					"Required": $.trim($(tr).find('td:eq(3) select').val()),
					"TransRules": $.trim($(tr).find('td:eq(4) select').val())
				}
			}

        });
		var rule_set_name = $("#rulename").val();
        var dest_file = $("#destfile option:selected").val();
        var dest_tool = $("#desttool option:selected").val();
		var uniq_flds =$("#uniqflds").val(); 
		var uniq_sel = '';
		
		if(uniq_flds!=null){
		 for (i = 0; i < uniq_flds.length; i++) {
				if(i==0)
					uniq_sel = uniq_sel+uniq_flds[i];
				else
					uniq_sel = uniq_sel+","+uniq_flds[i];
            }
		}
		
		
        var obj = {
			RuleSetName : rule_set_name,
		    DestTool: dest_tool,
            DestFile: dest_file,
            UniqueFields: uniq_sel,
            DestSchema: Schema
        };
		
		$("#btnSaveSchema span").html('Please wait');		
		$("#btnSaveSchema").attr("disabled", "disabled");
		
        var dataschema = JSON.stringify(obj);

        $.ajax({
            type: "GET",
            url: "/uac/schemasave/",
            data: {
                formdata: dataschema
            },
            dataType: 'json',
            success: function (response) {
					if (response.status == "200") {
						
						$('#myModal .modal-body').html(response.message);
						$('#myModal .footer-button').html('<button class="btn btn-success" data-dismiss="modal" type="button" onclick=reload_window()>Close</button>');
						$('#myModal').modal();
						
						
					} else if (response.status == "400") {
						$('#myModal .modal-body').html(response.message);
						$('#myModal .footer-button').html('<button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>');
						$('#myModal').modal();
					
					}
												
					$("#btnSaveSchema").removeAttr('disabled');
					$("#btnSaveSchema span").html('Save');
					}

            
        });
    });

	var id = null;
	
	$(document).on("click", ".btnEdit", function () {
		id = $(this).parents("tr").find("td:eq(5)").html();
		
		$("#rulename").val($(this).parents("tr").find("td:eq(0)").html());
		$("#desttool").val($(this).parents("tr").find("td:eq(3)").html());
		$("#destfile").val($(this).parents("tr").find("td:eq(4)").html());
		
		$("#HdnID").val(id);
		
		var markup = $('#myTable tbody tr:last').html(); 
		$('#myTable tbody').html('');
		
		var flds=new Array();	
		
		$("#uniqflds option[value]").remove();
		
        $.ajax({           
            url: "/uac/schemaGetDetails/",
            type: 'get',
			data:  {
                rid: id
            },
            dataType: 'json',
            success: function (response) {
            	console.log(response)
					
			$("#TabMasterLink").trigger('click');
				var objDetails = JSON.parse(response.DetailData);		
				
				for (i = 0; i < objDetails.length; i++)
				{
				
					$('#myTable tbody').append('<tr>' + markup + '</tr>');
					
					$('#myTable tr:last').find("td:eq(4)").html('<select class="form-control js-example-basic-multiple" name="states[]" multiple="multiple"></select>');
					$('#myTable tr:last').find("td:eq(4)").find('select').select2({
						data: rules,
						placeholder: 'Select Transformation Rules'
					});				
					
					$('#myTable tbody tr:last').find('td:eq(4) select').trigger('change');
					
					
					$('#myTable tbody tr:last').find('td:eq(0) input').val(objDetails[i].fields.column_name);
					$('#myTable tbody tr:last').find('td:eq(1) select').val(objDetails[i].fields.column_type);
					$('#myTable tbody tr:last').find('td:eq(2) input').val(objDetails[i].fields.column_length);
					$('#myTable tbody tr:last').find('td:eq(3) select').val(objDetails[i].fields.required);
				
					var objRules = objDetails[i].fields.rules;					
			
					var array = JSON.parse("[" + objRules + "]");
					
					
					$('#myTable tbody tr:last').find('td:eq(4) select').val(array);
				
					$('#myTable tbody tr:last').find('td:eq(4) select').trigger('change');
					
							
					$("#myTable tbody tr:last").prev().find('button').removeClass('btn btn-success btn-sm btnAddRow');
					$("#myTable tbody tr:last").prev().find('button').addClass('btn btn-danger btn-sm btnDelRow');
					$("#myTable tbody tr:last").prev().find('i').removeClass('fa fa-plus fa-xs');
					$("#myTable tbody tr:last").prev().find('i').addClass('fa fa-minus-circle fa-sm');
					
					$("#btnSaveSchema").hide();
					$("#btnEditSchema").show();
					
					
					flds[i] = {
						"id":  objDetails[i].fields.column_name,
						//"id":  i,
						"text": objDetails[i].fields.column_name
					}
				}
				
				 $("#uniqflds").select2({
					data: flds,
					placeholder: 'Select Unique fields'
				});
				

				var unqObj = JSON.parse(response.unq);
				var unq_flds = unqObj[0].fields.uniq_flds;
				
				if(unq_flds!=null)
					$.each(unq_flds.split(","), function(i,e){
						$("#uniqflds option[value='" + e + "']").prop("selected", true);
					});
								
				$('#uniqflds').trigger('change');
				
				
				
			}

            
        });
    
		
	});


	$('.rule-set').on("focusout", function (e) {
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            type: "POST",
            dataType: 'json',
            url: `/uac/schema-unique/`,
            data: {
                'name': $(this).val(),
				'id': id
            },
            beforeSend: function () { },
        }).done(function (response) {
			console.log(response);
            if (response.success) {
                $('.has-error').html(`Already exist`)
                $(".save-btn").attr("disabled", true);
                // $(".save-btn").attr("disabled", false);
                // isDisabled = false;
            } else {
                $('.has-error').html(``)
                $(".save-btn").attr("disabled", false);
            }
        }).fail(function (response) {
            // $('.email-error-container').html(`<span class="has-error"><ul class="errorlist"><li>${response.msg}</li></ul></span>`)
        });
    });

//Clone
$(document).on("click", ".btnClone", function () {
		var id = $(this).parents("tr").find("td:eq(5)").html();
		
		// $("#rulename").val($(this).parents("tr").find("td:eq(0)").html());
		// $("#desttool").val($(this).parents("tr").find("td:eq(3)").html());
		// $("#destfile").val($(this).parents("tr").find("td:eq(4)").html());
		
		$("#HdnID").val(id);
		
		var markup = $('#myTable tbody tr:last').html(); 
		$('#myTable tbody').html('');
		
		var flds=new Array();	
		
		$("#uniqflds option[value]").remove();
		
        $.ajax({           
            url: "/uac/schemaGetDetails/",
            type: 'get',
			data:  {
                rid: id
            },
            dataType: 'json',
            success: function (response) {
            	// console.log(response)
					
			$("#TabMasterLink").trigger('click');
				var objDetails = JSON.parse(response.DetailData);		
				
				for (i = 0; i < objDetails.length; i++)
				{
				
					$('#myTable tbody').append('<tr>' + markup + '</tr>');
					
					$('#myTable tr:last').find("td:eq(4)").html('<select class="form-control js-example-basic-multiple" name="states[]" multiple="multiple"></select>');
					$('#myTable tr:last').find("td:eq(4)").find('select').select2({
						data: rules,
						placeholder: 'Select Transformation Rules'
					});				
					
					$('#myTable tbody tr:last').find('td:eq(4) select').trigger('change');
					
					
					$('#myTable tbody tr:last').find('td:eq(0) input').val(objDetails[i].fields.column_name);
					$('#myTable tbody tr:last').find('td:eq(1) select').val(objDetails[i].fields.column_type);
					$('#myTable tbody tr:last').find('td:eq(2) input').val(objDetails[i].fields.column_length);
					$('#myTable tbody tr:last').find('td:eq(3) select').val(objDetails[i].fields.required);

				
					var objRules = objDetails[i].fields.rules;					
			
					var array = JSON.parse("[" + objRules + "]");
					
					
					$('#myTable tbody tr:last').find('td:eq(4) select').val(array);
				
					$('#myTable tbody tr:last').find('td:eq(4) select').trigger('change');
					
							
					$("#myTable tbody tr:last").prev().find('button').removeClass('btn btn-success btn-sm btnAddRow');
					$("#myTable tbody tr:last").prev().find('button').addClass('btn btn-danger btn-sm btnDelRow');
					$("#myTable tbody tr:last").prev().find('i').removeClass('fa fa-plus fa-xs');
					$("#myTable tbody tr:last").prev().find('i').addClass('fa fa-minus-circle fa-sm');
					
					$("#btnSaveSchema").show();
					$("#btnEditSchema").hide();
					
					
					flds[i] = {
						"id":  objDetails[i].fields.column_name,
						//"id":  i,
						"text": objDetails[i].fields.column_name
					}
				}
				
				 $("#uniqflds").select2({
					data: flds,
					placeholder: 'Select Unique fields'
				});
				

				var unqObj = JSON.parse(response.unq);
				var unq_flds = unqObj[0].fields.uniq_flds;
				
				if(unq_flds!=null)
					$.each(unq_flds.split(","), function(i,e){
						$("#uniqflds option[value='" + e + "']").prop("selected", true);
					});
								
			$('#uniqflds').trigger('change');
				
				
				
			}

            
        });
    
		
	});	
	
	
// ####### Add rows
    $(document).on("click", ".btnAddRow", function () {

        if ($(this).closest('tr').find("td:eq(0)").find('input').val() == '')
		{
            return false;
        }
        var markup = $(this).closest("tr").html();
	
			
		$(this).closest('tr').find("td:eq(5)").find('button').removeClass('btn btn-success btn-sm btnAddRow');
		$(this).closest('tr').find("td:eq(5)").find('button').addClass('btn btn-danger btn-sm btnDelRow');
		$(this).closest('tr').find("td:eq(5)").find('i').removeClass('fa fa-plus fa-xs');
		$(this).closest('tr').find("td:eq(5)").find('i').addClass('fa fa-minus-circle fa-sm');	

        $('#myTable').append('<tr>' + markup + '</tr>');
        $('#myTable tr:last').find("td:eq(4)").html('<select class="form-control js-example-basic-multiple" name="states[]" multiple="multiple"></select>');
        $('#myTable tr:last').find("td:eq(4)").find('select').select2({
            data: rules,
			placeholder: 'Select Transformation Rules'
        });
				// Traverse grid 1 column then push to uniq fld
				var flds=new Array();
				var idx=0;
			$("#myTable tbody  tr").each(function(){
				 
				 if($(this).find("td:eq(0)").find('input').val() != '')
				 {
				 flds[idx] = {

                    "id":  $(this).find("td:eq(0)").find('input').val(),
                    "text": $(this).find("td:eq(0)").find('input').val()
					}
				idx++;
				}
			});
			
            $("#uniqflds").select2({
                data: flds,
				placeholder: 'Select Unique fields'
            })	
			//$('#uniqflds').select2();
			//$('#uniqflds').select2({data:flds});
    });
	
	  $(document).on("click", ".btnDelRow", function () {
	  $(this).closest('tr').remove()
	  
	  });
	  $(document).on("click", "#btnAddNew", function() {
        window.location.reload();
    	});

$(".btnDel").click(function(f) { 
	f.preventDefault();
    var link =  $(this).attr('href');
   
	
	 if (confirm("Delete this record..Are you Sure ?")) 
		{
        window.location = link;
		} 
});

    });
	
function reload_window()
{
	window.location = '';
}




</script>
 
{% endblock %}
